*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle.properties
/app/src/main/res/xml/data_extraction_rules.xml
/app/src/test/java/com/training/basic/ExampleUnitTest.kt
/app/src/androidTest/java/gst/trainingcourse/fragmentdemo/ExampleInstrumentedTest.kt
/app/src/main/res/xml/backup_rules.xml
/.idea/gradle.xml
/.idea/compiler.xml
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/app/proguard-rules.pro
/.idea/misc.xml
/settings.gradle
/.idea/vcs.xml
